<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Wasabi - суши-бар</title>
		<link rel="shortcut icon" href="../static/img/wasabi_logo.jpg" style="width: 200px; height: 150px;"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
	</head>
	<body>
		<div class="header">
            <div class="header_menu">
                <a href="#"><img class="wasabi-icon" src="../static/img/logo.svg" alt="Лого васаби"></a>
				<div class="raiting">
					<img src="../static/img/star.svg" alt="raiting" class="raiting-star">
					4.5
				</div>
                <div class="header-buttons">
                    <button class="button-login">Войти</button>
                    <button class="button" id="cart-button">
						<img src="../static/img/cart.svg" alt="shopping cart" class="button-icon">
						<span class="button-text">Корзина</span>  
					</button>
                </div>
            </div>
		</div>


    <main id="menu-content">
        
    </main>

		<div class="container">
			<section class="menu">
			<header>
				<nav>
					<ul>
						<li><button id="recommendations">Рекомендации</button></li>
						<li><button id="sushi">Суши</button></li>
						<li><button id="rolls">Роллы</button></li>
					</ul>
				</nav>
			</header>
			<main id="menu-content"></main>
			<div class="cards">
				<div class="card">
					<img src="../static/img/unagi_sushi.png" class="card-img">
					<div class="card-text">
						<div class="card-heading">
							<h3 class="card-title card-title-reg">Унаги</h3>
						</div>
						<div class="card-info">
							<div class="ingredients">Рис, угорь, соус унаги</div>
						</div>
						<div class="card-buttons">
							<button class="button button-primary">
								<span class="button-card-text">В корзину</span> 
								<img src="../static/img/cart.svg" alt="shopping-cart" class="button-card-image">
							</button>
							<strong class="card-price-bold">169 ₽</strong>
						</div>	
					</div>
				</div>
				<div class="card wow fadeInUp" data-wow-delay="0.4s">
					<img src="../static/img/syake_sushi.png" class="card-img">
					<div class="card-text">
						<div class="card-heading">
							<h3 class="card-title card-title-reg">Сяке</h3>
						</div>
						<div class="card-info">
							<div class="ingredients">Рис, лосось</div>
						</div>
						<div class="card-buttons">
							<button class="button button-primary">
								<span class="button-card-text">В корзину</span> 
								<img src="../static/img/cart.svg" alt="shopping-cart" class="button-card-image">
							</button>
							<strong class="card-price-bold">219 ₽</strong>
						</div>	
					</div>
				</div>
				<div class="card wow fadeInUp" data-wow-delay="0.6s">
					<img src="../static/img/ebi_sushi.png" class="card-img">
					<div class="card-text">
						<div class="card-heading">
							<h3 class="card-title card-title-reg">Эби</h3>
						</div>
						<div class="card-info">
							<div class="ingredients"> Рис, креветка отварная</div>
						</div>
						<div class="card-buttons">
							<button class="button button-primary">
								<span class="button-card-text">В корзину</span> 
								<img src="../static/img/cart.svg" alt="shopping-cart" class="button-card-image">
							</button>
							<strong class="card-price-bold">169 ₽</strong>
						</div>	
					</div>
				</div>
				<div class="card wow fadeInUp" data-wow-delay="0.2s">
					<img src="../static/img/cezar.jpg" class="card-img">
					<div class="card-text">
						<div class="card-heading">
							<h3 class="card-title card-title-reg">Цезарь маки хl</h3>
						</div>
						<div class="card-info">
							<div class="ingredients">Рис, куриная грудка копченая, икра масаго, томат, айсберг, соус цезарь</div>
						</div>
						<div class="card-buttons">
							<button class="button button-primary">
								<span class="button-card-text">В корзину</span> 
								<img src="../static/img/cart.svg" alt="shopping-cart" class="button-card-image">
							</button>
							<strong class="card-price-bold">250 ₽</strong>
						</div>	
					</div>
				</div>
				<div class="card wow fadeInUp" data-wow-delay="0.4s">
					<img src="../static/img/asai.jpg" class="card-img">
					<div class="card-text">
						<div class="card-heading">
							<h3 class="card-title card-title-reg">Ясай маки стандарт 185 г</h3>
						</div>
						<div class="card-info">
							<div class="ingredients">Рис, помидор свежий, перец болгарский, авокадо, огурец, айсберг</div>
						</div>
						<div class="card-buttons">
							<button class="button button-primary">
								<span class="button-card-text">В корзину</span> 
								<img src="../static/img/cart.svg" alt="shopping-cart" class="button-card-image">
							</button>
							<strong class="card-price-bold">250 ₽</strong>
						</div>	
					</div>
				</div>

				<div class="card wow fadeInUp" data-wow-delay="0.6s"> 
					<img src="../static/img/shrimp.jpg" class="card-img">
					<div class="card-text">
						<div class="card-heading">
							<h3 class="card-title card-title-reg">Ролл с креветкой стандарт</h3>
						</div>
						<div class="card-info">
							<div class="ingredients">Рис, водоросли нори, креветки отварные, сыр сливочный, огурцы</div>
						</div>
						<div class="card-buttons">
							<button class="button button-primary">
								<span class="button-card-text">В корзину</span> 
								<img src="../static/img/cart.svg" alt="shopping-cart" class="button-card-image">
							</button>
							<strong class="card-price-bold">250 ₽</strong>
						</div>	
					</div>
				</div>
			</div>	
		</section>
		</div>
	</main>

	<div id="delivery-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Статус доставки</h2>
            <p id="delivery-status">Готовится...</p>
        </div>
    </div>
    
    <div id="rating-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Оцените Wasabi</h2>
            <div class="rating">
                <i class="fa-regular fa-star star" data-rating="1"></i>
                <i class="fa-regular fa-star star" data-rating="2"></i>
                <i class="fa-regular fa-star star" data-rating="3"></i>
                <i class="fa-regular fa-star star" data-rating="4"></i>
                <i class="fa-regular fa-star star" data-rating="5"></i>
            </div>
            <p id="rating-message"></p>
        </div>
    </div>

	<footer class="footer">
		<div class="container">
			<div class="footer-block">
				<img src="../static/img/wasabi_logo.svg" alt="logo" class="logo footer-logo" style="width: 70px; height: auto;">
				<nav class="footer-nav">
					<a href="#" class="footer-link">Ресторанам</a>
					<a href="#" class="footer-link">Курьерам</a>
					<a href="#" class="footer-link">Пресс-центр</a>
					<a href="#" class="footer-link">Контакты</a>
				</nav>
				<div class="social-links">
					<a href="#" class="social-link"><img src="../static/img/insta.svg" alt=""></a>
					<a href="#" class="social-link"><img src="../static/img/fb.svg" alt=""></a>
					<a href="#" class="social-link"><img src="../static/img/vk.svg" alt=""></a>
				</div>
			</div>
		</div>
	</footer>

	<div class="modal">
		<div class="modal-dialog">
			<div class="modal-header">
				<h3 class="modal-title">Корзина</h3>
				<button class="close">&times;</button>
			</div>
			<div class="modal-body">
				<div class="food-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<strong class="food-price">250 ₽</strong>
					<div class="food-counter">
						<button class="counter-button">-</button>
						<span class="counter">1</span>
						<button class="counter-button">+</button>
					</div>
				</div>
				<div class="food-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<strong class="food-price">250 ₽</strong>
					<div class="food-counter">
						<button class="counter-button">-</button>
						<span class="counter">1</span>
						<button class="counter-button">+</button>
					</div>
				</div>
				<div class="food-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<strong class="food-price">250 ₽</strong>
					<div class="food-counter">
						<button class="counter-button">-</button>
						<span class="counter">1</span>
						<button class="counter-button">+</button>
					</div>
				</div>
				<div class="food-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<strong class="food-price">250 ₽</strong>
					<div class="food-counter">
						<button class="counter-button">-</button>
						<span class="counter">1</span>
						<button class="counter-button">+</button>
					</div>
				</div>
				<div class="food-row">
					<span class="food-name">Ролл угорь стандарт</span>
					<strong class="food-price">250 ₽</strong>
					<div class="food-counter">
						<button class="counter-button">-</button>
						<span class="counter">1</span>
						<button class="counter-button">+</button>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<span class="modal-pricetag">1250 ₽</span>
				<div class="footer-buttons">
					<button class="button button-primary">Оформить заказ</button>
					<button class="button">Отмена</button>
				</div>
			</div>
		</div>
	</div>
	
	<script src="static/main.js"></script>

	</body>
</html>

